.incrementContainer {
  display: flex;
  justify-content: space-between;
}

.increment {
  display: inline-block;
  width: 12px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  background-color: #f7f7f7;
}

.increment:hover {
  background-color: #f9643d;
  cursor: pointer;
}

.increment.logged {
  background-color: #bf3111;
}

td:last-child {
  padding-right: 5px;
}