.incrementContainer {
  display: flex;
  justify-content: space-between;
}

.increment {
  display: inline-block;
  width: 12px;
  height: 25px;
  border-radius: 4px;
  border: 1px solid #c1c1c1;
  background-color: #f7f7f7;
  margin: 0 1px;
  z-index: 200;
}

/* Larger touch targets on mobile */
@media (max-width: 599px) {
  .increment {
    width: 16px;
    height: 32px;
  }
}

.increment:hover {
  background-color: #f9643d;
  cursor: pointer;
}

.increment.logged {
  background-color: #bf3111;
}

td:last-child {
  padding-right: 5px;
}
