name: React CI
on: [push, pull_request]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
      - name: Install dependencies
        run: npm ci
      - name: Perform production build
        run: npm run build
      - name: Run lint
        run: npm run lint
      - name: Run format check
        run: npm run format:check
      - name: Run unit/integration tests
        run: npm run test -- --run
      - name: Run tests with coverage
        run: npm run test -- --run --coverage
      - name: Upload coverage reports
        uses: codecov/codecov-action@v4
        if: always()
        with:
          files: ./coverage/lcov.info
          flags: unittests
          name: codecov-task-timer
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
